language: cpp
compiler: gcc
dist: trusty

before_install:
  - echo $TRAVIS_BRANCH
  # C++14
  - sudo add-apt-repository --yes ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq

install: 
  # C++14
  - sudo apt-get install -qq g++-6
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-6 90
  # Qt5
  - sudo apt-get install -qq libqt5webkit5-dev qtdeclarative5-dev
  - export QMAKE=/usr/lib/x86_64-linux-gnu/qt5/bin/qmake
  # gcov
  - sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-6 90
  # cppcheck
  - sudo apt-get install -qq cppcheck
  # Codecov
  - sudo pip install codecov
  # OCLint
  - ./install_oclint

# Boost
addons: 
  apt: 
    packages: libboost-all-dev

script: 
  # Build and run the tests
  # None yet
  # Build and run the command line applications in debug mode, for code coverage
  - qmake marta.pro
  - make debug
  - ./marta
  # Profiling, requires a rebuild in release mode
  - qmake marta.pro
  - make release
  - time ./marta
  - gprof marta > gprof.log
  - head gprof.log
  # cppcheck
  - cppcheck --quiet --error-exitcode=1 . 
  # Code coverage
  - ./get_code_cov >/dev/null
  - codecov >/dev/null
  # OCLint
  - ./do_oclint

after_success:
  - bash <(curl -s https://codecov.io/bash)

